<!DOCTYPE html>
<html>
    <title>Ex 1: Show all quiz</title>
    <script>
        
        var url = new URL('http://localhost:3000/quiz')
        
       // url.search = new URLSearchParams({ // query parameters ?from=0&to=30
            //from: 0,
            //to: 3, 
            //ageGreater : 30   // this is to display list of people less then 30 years old
            //ageGreater : document.getElementById('ageGreater').value // this is from input (The age you put in browser)
       // });
        
        fetch(url)
        .then(response => response.json()) // or JASON:parse()
        .then(function(data) {
            var tbody = document.getElementById('tbody');
            tbody.innerHTML = "";
            for (var quiz of data) {
                var row = tbody.insertRow();
                var cell1 = row.insertCell();
                cell1.innerText = quiz.quiz_Id;
                var cell2 = row.insertCell();
                cell2.innerText = quiz.quiz_name;
                
                
         
        }
        });

        
        </script>
    
    </head>
    <body>
        <h1>All Quiz Data</h1>
        <style>
            table { width: 25%; }
            table, th, td { border: thick double plum;
                border-collapse: collapse; padding: 3px 3px; text-align: center;
            }
        </style>
    
            <table id="table"  >
                <tr>
                <th>Quiz ID</th>
                <th>Quiz Name</th>
                
                </tr>
                <tbody id="tbody"></tbody>
            </table>
            
        
    
    
            <!--<input type="text" id="ageGreater" placeholder="enterAge" onchange="LoadData()">-->
    </body>
</html>