<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../../assets/favicon.png"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" href="../styles/editor.css">
  <link rel="stylesheet" href="../styles/custom-confirm.css">
  <link rel="stylesheet" href="../styles/hoverEffect.css">
  <title>Editor</title>
</head>
<body>
  <div class="editor-container" id="editor-container">
    <div>
    <!-- Question Title -->
    <h1>Quiz Editor</h1>
    <form id="formQuizTitle">
      <div class="quiz-title-container">
        <label for="" id="quizTitle">Quiz Title</label>
        <input type="text" name="quizName" id="quizName" placeholder="Type Quiz Name" required>
      </div>
    </form>
    <form id="formQuestion" action="javascript:displayNextQuestion();">
    <!-- Questions -->
    <div class="question-container">
      <fieldset class style="margin-top: 8px;">
        <legend>Define Question</legend>
        <label for="question">Question</label>
        <input type="text" name="question" placeholder="Type Question" required>
        <!-- Answers -->
        <div class="answers-container">
          <div class="answers-title">
            <div class="answersTitle"><h3>Answers</h3></div>
            <div class="correctTitle"><h3>Correct</h3></div>
          </div>
          <div class="answers-wraper">
            <div class="answer">
              <input type="text" name="option1" placeholder="Type Answer A" required >
              <input type="radio" name="correct0"checked>
            </div>
            <div class="answer">
              <input type="text" name="option2" placeholder="Type Answer B" required>
              <input type="radio" name="correct0">
            </div>
            <div class="answer">
              <input type="text" name="option3" placeholder="Type Answer C" required>
              <input type="radio" name="correct0">
            </div>
            <div class="answer">
              <input type="text" name="option4" placeholder="Type Answer D" required>
              <input type="radio" name="correct0">
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    </form>
    <br><br>
    <div class="Buttons">
      <input type="button" value="Add" id="nextButton" onclick="displayNextQuestion()"><br>
      <input type="button" value="Cancel" id="cancelButton">
      <input type="button" value="Save" id="submitQuizButton" onclick="submitQuiz()">
    </div>
  </div>

<!-- Scripts -->
  <script src="../scripts/editor.js"></script>
  <script src="../scripts/custom-confirm.js"></script>

  <!-- when cancelButton pressed -->
  <script>
    CustomConfirm('#cancelButton', function (confirmed, element) {
  if (confirmed) {
      window.location.href = "../htmls/quiz.html";
  } 
});
  </script>

</body>
</html>