<html lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../../assets/favicon.png"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="../styles/joinquiz.css">

  
</head>
<head>
  <div class="joinquiz-container">
  
<h1>Join A Quiz</h1>
<form id="joinQuiz">
  <div class="joinQuiz">
    <label for="" id="joinCode">Join Code</label>
    <input type="text" id="givenCode" name="joinCode" required><br><br><br>
    <label for="" id="name">Name </label>
    <input type="text" id="name" name="joinCode" required> <br><br><br>
    <button type="submit" id="join" onclick="submitCodeAndName()">Join</button>
  </div>
</form>
<div>
  <h4 id="message"></h4>
</div>

  
</div>
</body>

<script src="../scripts/joinquiz.js"></script>
<script src="../scripts/quiz_start.js"></script>

</html>