<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Quiz</title>
  <link rel="icon" type="image/png" href="../../assets/favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../styles/quiz.css">
</head>
    <body>
      <div class="quiz-container">
        <h1>Quiz Overview</h1>
        <table > 
            <tr>
              <th>Quiz Name</th>
            </tr>
            <tbody id = "tbody"></tbody>
        </table>
        <p id="result"></p>
      </div>
    
    <div class="newquiz">
      <button id="newquizz" onclick='window.location.href = "editor.html"' > NEW QUIZ</button>
    </div>
    <script src="../scripts/quiz.js"></script>
</body>

</html>
    
  