<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="../styles/quizStart.css">
  <title>Start Quiz</title>

</head>
<body>
  
  <div class="quiz_start-container">
    <!--  Quiz nama should be get from Quiz Qverview -->
    <h1 id="quizName">Welcome to </h1> 
    <h2>Participation Code</h2>
    <h2 id="h2"></h2>
    <button id="startNow">Start Now</button> 
    <h3>Waiting for other praticipants to join..</h3>
    <div id="studentsNames"></div>
  </div>


  <!-- Script -->
  <script src="../scripts/startQuiz.js"></script>
</body>
</html>