<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Quiz</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../styles/quiz.css">
  </head>
    <body>
      <h1>Quiz Management</h1>
      <div class="quiz">

        <label>Quiz1</label> 
        <button id onclick="edit()">Edit</button>  <button onclick="delete()">delete</button>
        <button class="btn"><i class="fa fa-play"></i></button> 
  
        </div>
<div class="quiz">
  <label > Quiz2</label> 
        <button id onclick="edit()">Edit</button> <button onclick="delete()">delete</button>
        <button class="btn"><i class="fa fa-play"></i></button> 
</div>
    <div class="newquiz">
      <button onclick='window.location.href = "editor.html"' > NEW QUIZ
        <!-- <a href="editor.html">New Quiz</a></div> -->
    </button>
    </body>

    </html>
    
  