<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="icon" type="image/png" href="../../assets/favicon.png"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/playQuiz.css">
  </head>
  <body>
    <!--  to original project file -->
    <div class="playquiz-container" id="container">
      <h1 id="question" style="font-size: 26px;">Question 1</h1>
        <div class="btn-group" id='pageDiv'>
          <h4 id="point"></h4>
          <h3 id="result"></h3>
          <div class="wraper">
            <button id="option1" class="btn hover">Option 1</button>      
            <p class="statistic" id="statistic1"></p>
          </div>
          <div class="wraper">
            <button id="option2" class="btn hover">Option 2</button> 
            <p class="statistic" id="statistic2"></p>
          </div>
          <div class="wraper">
            <button id="option3" class="btn hover">Option 3</button>     
            <p class="statistic" id="statistic3"></p>
          </div>
          <div class="wraper">
            <button id="option4" class="btn hover">Option 4</button> 
            <p class="statistic" id="statistic4"></p>
          </div>
        </div>
        <div>
          <h4 id="timer"></h4> <!--This is place for 30 seconds timer-->
          <h3 id="message"></h4>
        </div>
        <h2 id="Finish" hidden>Finished! Answered all questions!</h2>
        <h1 id="ranking-header" hidden>Top 3</h1>
        <table id="rankingTable"></table>
      </div>
    <script src="../scripts/playQuiz.js"></script>
</body>
</html>
